@model IEnumerable<StackUp.Domain.Entities.IdentityEntites.AppUser>

<div class="content container-fluid">
    <div class="page-header">
        <div class="content-page-header ">
            <h5>Users</h5>
            <div class="list-btn">
                <ul class="filter-list">
                    <li>
                        <a class="btn btn-filters w-auto popup-toggle" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Filter">
                            <span class="me-2"><img src="~/main/img/icons/filter-icon.svg" alt="filter"></span>Filter
                        </a>
                    </li>
                    <li>
                        <a class="btn btn-primary" href="javascript:void(0);" data-bs-toggle="modal" data-bs-target="#add_user">
                            <i class="fa fa-plus-circle me-2" aria-hidden="true"></i>Add user
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <div class="card-table">
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-center table-hover datatable">
                            <thead class="thead-light">
                                <tr>
                                    <th>#</th>
                                    <th>User Name</th>
                                    <th>Email</th>
                                    <th>Role</th>
                                    <th>Last Activity</th>
                                    <th>Created on</th>
                                    <th>Status</th>
                                    <th class="no-sort">Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (Model != null && Model.Any())
                                {
                                    var index = 1;
                                    foreach (var user in Model)
                                    {
                                        <tr>
                                            <td>@index</td>
                                            <td>
                                                <h2 class="table-avatar">
                                                    <a href="javascript:void(0);" class="avatar avatar-sm me-2">
                                                        <img class="avatar-img rounded-circle" src="@user.ImageUrl" alt="User Image">
                                                    </a>
                                                    <a href="javascript:void(0);">@user.UserName</a>
                                                </h2>
                                            </td>
                                            <td>@user.Email</td>
                                            <td>
                                                @if (ViewBag.UserRoles.ContainsKey(user.Id))
                                                {
                                                    @foreach (var role in ViewBag.UserRoles[user.Id])
                                                    {
                                                        <span class="badge bg-primary-light">@role</span>
                                                    }
                                                }
                                            </td>
                                            <td>
                                                <span class="badge bg-ash-gray text-gray-light">Unavailable</span> <!-- Placeholder for Last Activity -->
                                            </td>
                                            <td>@user.CreatedAt.ToString("dd MMM yyyy, hh:mm tt")</td>
                                            <td>
                                                @if (user.LockoutEnd.HasValue && user.LockoutEnd.Value > DateTime.Now)
                                                {
                                                    <span class="badge bg-ash-gray text-gray-light">Restricted</span>
                                                }
                                                else
                                                {
                                                    <span class="badge bg-success-light">Active</span>
                                                }
                                            </td>
                                            <td class="d-flex align-items-center">
                                                <div class="dropdown dropdown-action">
                                                    <a href="#" class="btn-action-icon" data-bs-toggle="dropdown" aria-expanded="false">
                                                        <i class="fas fa-ellipsis-v"></i>
                                                    </a>
                                                    <div class="dropdown-menu dropdown-menu-right">
                                                        <ul>
                                                            <form id="Edit-@user.Id" asp-controller="Account" asp-action="EditUser" asp-route-id="@user.Id" method="get" style="display: none;">
                                                                @Html.AntiForgeryToken()
                                                            </form>
                                                            <li>
                                                                <a class="dropdown-item" href="javascript:void(0);" onclick="document.getElementById('Edit-@user.Id').submit();">
                                                                    <i class="far fa-edit me-2"></i>Edit
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <form id="delete-@user.Id" asp-controller="Account" asp-action="DeleteUser" asp-route-id="@user.Id" method="post" style="display: none;">
                                                                    @Html.AntiForgeryToken()
                                                                </form>
                                                                <a class="dropdown-item" href="javascript:void(0);" onclick="document.getElementById('delete-@user.Id').submit();">
                                                                    <i class="far fa-trash-alt me-2"></i>Delete
                                                                </a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                        index++;
                                    }
                                }
                                else
                                {
                                    <tr>
                                        <td colspan="8" class="text-center">No users available</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
